ul, ol, li {
    list-style: none;
}
.cat-step li {
    float: left;
    padding-left: 1%;
    width: 180px;
    height: 40px;
    margin-right: 1%;
    background: url(./step-link.png) no-repeat;
    background-size: contain;
    font: 14px/40px "微软雅黑";
    color: #A6AFBB;
    margin-bottom: 8px;
    cursor: pointer;
}
.cat-step li.cat-step-over {
    background: url(./step-over.png) no-repeat;
    background-size: contain;
    color: #4CAF50;
}
.cat-step li.cat-step-hover {
    background: url(./step-hover.png) no-repeat;
    background-size: contain;
    color: #FFA000;
}
.cat-step-clear {
    clear: both;
    height: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
}
